@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face {
    font-family: "montserrat black";
    src: url(fonts/Montserrat-Black.otf);
}
* {
    padding: 0;
    margin: 0;
}


.contenair1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130vh;
    width: 100vw;
    margin-bottom: 0px;
    border: 1px solid black;
    background-color: #d92950;
    /* background-color: #da4550; */
    
}

header {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    
    height: 13%;
    width: 100vw;
    background-color: #d92950;
    position: fixed;
    z-index: 1;
    /* border: solid black 1px; */
}
.logokda img{
   width: 100px;
   margin-left: 10px;
   
   
}
.logokda {
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
    margin-top: 0;
    height: 9.16vh;
    width: 30%;
    padding-top: 12px;
    padding-left: 1px;
    
    
}
nav { 
    /* background-color: blue; */
    height: 40%;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    padding: 8px 8px;
}
ul {
    height: 90%;
    padding-top: 25px;
    padding-right: 2px;
    /* background-color: black; */
    /* padding: 10px; */
    /* background-color: aqua; */
}
li {
    font-family: "Roboto", sans-serif;
    font-size: 15.7px;
    display: inline;
}
li a {
    color: #FFF;
    margin-right: 30px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    margin: 0 25px;
    font-size: 0.9919em;
    font-weight: bold;
    
}
a:hover {
    border: none;
    border-bottom: solid rgb(255, 4, 107) 3px;
}
#accueil {
    border-bottom: solid rgb(255, 4, 107) 2px;
}
.contenair12 {
    height: 87%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid black 1px; */
    background-image: url(images/hero-background.jpg);
    background-size: cover;
}
.contenair121 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 100px;
    /* border: solid black 1px; */
}
.contenair12 .contenair121 h1 {
    font-size: 71px;
    color: #FFF;
    font-family: "montserrat black", "Montserrat", sans-serif;
    font-weight: 900;
}
.jaune {
    color: #ffe64d;
}

.contenair122 {
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 5px;

    /* border: solid black 1px;  */
}
.contenair1221 a , .contenair1222 a {
    color: #d92950;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF;
    padding: 17px 28px;
    margin: 0px 25px;
    margin-bottom: 10px;
    
    border-radius: 15px;
    border: #FFF;
    text-decoration: none;
}
.contenair1221 a:hover, .contenair1222 a:hover {
    background-color: rgba(255, 255, 255, 0);
    /* border-color: rgba(255, 255, 255, 1); */
    border: solid white 2px;
    color: #FFF;

}

.contenair123 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #FFF;
    margin-top: 20px;
    width: 50%;
    justify-content: center;
    text-align: center;
    line-height: 25px;
    /* border: solid black 1px;  */
}
.contenair124 {
    width: 100vw;
    text-align: center;
    color: #FFF;
    margin-top: 40px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0.5;
    /* border: solid black 1px; */
}

.contenair124 img {
    width: 50px;
    margin-top: 10px;
}

/*ici comment le code css pour le deuxième div principal */

.qualiteformation {
    margin: 0;
    padding: 0;
    background-color: #f1f0f3;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textqualiteformation {
    border: 1px solid black;
    margin-right: 70px;
    /* width: 60%;*/
} 
#image1 {
    width: 500px;
    /* position: relative; */
    left: -70px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
#image2 {
    width: 350px;
    position: relative;
    left: 230px;
    top: -200px;
    border-radius: 15px;
}

.imageclass {
    border: 1px solid black;
    margin-top: 40px;
}
.textqualite {
    color: red;
    font-size: 20px;
}
/*
.imageclass2 {
    /* position: relative; 
    left: 20px;
} */