@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face {
    font-family: "montserrat black";
    src: url(fonts/Montserrat-Black.otf);
}
@font-face {
    font-family: "ubuntu mono";
    src: url(fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    width: 99vw;
}
.contenair1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    height: auto;
    width: 100%;
    background-color: #d92950;
    position: fixed;
    z-index: 5000;
    /* margin: 0px; */
    padding: 8px 16px;
    /* border: solid black 1px; */
}
.logokda img{
   width: 100px;
   height: 58px;
   /* margin-left: 10px; */
}
.logokda {
    display: flex;
    justify-content: flex-start;
    margin-left: 21px;
    margin-top: 0;
    height: auto;
    width: 15%;
    padding: 5px 0px;
    /* padding-top: 12px; */
    /* padding-left: 1px; */
    margin-bottom: 12px;
}
nav { 
    /* background-color: blue; */
    height: 40%;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    /* padding: 8px 8px; */
}
ul {
    height: 90%;
    padding-top: 25px;
    /* padding-right: 2px; */
    /* background-color: black; */
    /* padding: 10px; */
    /* background-color: aqua; */
}
nav li {
    font-family: "Roboto", sans-serif;
    font-size: 15.7px;
    display: inline;
}
li a {
    color: #FFF;
    margin-right: 30px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    margin: 0 25px;
    font-size: 0.9919em;
    font-weight: bold;
    
}
nav li a:hover {
    border: none;
    border-bottom: solid rgb(255, 4, 107) 3px;
}
#accueil {
    border-bottom: solid rgb(255, 4, 107) 3px;
}
.contenair12 {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid black 1px; */
    background-image: url(images/hero-background.jpg);
    background-size: cover;
    height: auto;
    margin-top: 82px;
    /* padding-bottom: 100px; */
}
.contenair121 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
    /* border: solid black 1px; */
}
.contenair12 .contenair121 h1 {
    font-size: 80px;
    line-height: 1.19;
    color: #FFF;
    font-family: "montserrat black", "Montserrat", sans-serif;
    font-weight: 900;
}
.jaune {
    color: #ffe64d;
}

.contenair122 {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;

    /* border: solid black 1px;  */
}
.contenair1221 a , .contenair1222 a {
    color: #d92950;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF;
    padding: 17px 28px;
    margin: 0px 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: #FFF;
    text-decoration: none;
}
.contenair1221 a:hover, .contenair1222 a:hover {
    background-color: rgba(255, 255, 255, 0);
    border: solid white 2px;
    color: #FFF;
}

.contenair123 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #FFF;
    margin-top: 20px;
    width: 55%;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    /* border: solid black 1px;  */
}
.contenair124 {
    width: 100vw;
    text-align: center;
    color: #FFF;
    margin-top: 40px;
    margin-bottom: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0.5;
    /* border: solid black 1px; */
}

.contenair124 img {
    width: 50px;
    margin-top: 10px;
}

/* --------------------ici comment le code css pour le deuxième div principal---------------- */

.qualiteformation {
    margin: 0;
    padding: 0;
    background-color: #f1f0f3;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
}

.textqualiteformation {
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 110px;
    margin-bottom: 40px;
    /* width: 60%;*/
} 
#image1 {
    width: 500px;
    position: relative;
    left: -70px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
#image2 {
    width: 350px;
    position: relative;
    left: 180px;
    top: -200px;
    border-radius: 15px;
}

.imageclass {
    margin-top: 100px;
}
.textqualite {
    color: #424345;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
}
/*
.imageclass2 {
    /* position: relative; 
    left: 20px;
} */
.optionqualite {
   display: flex;
   
   flex-wrap: wrap;
   margin-top: 50px;
}
#il_dev_qualifie, #il_prix_comp, #il_langue, #il_fuseau {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
   justify-content: center;
    margin-bottom: 10px;
}
#il_langue, #il_fuseau {
    margin-bottom: 20px;
}

.optionqualite img {
    width: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #d92950;
}
#pri_co {
    margin-bottom: 10px;
}
.optionqualite h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #424345;
    text-align: center;
    margin-bottom: 10px;
}
/* -------------------Début du code css pour le troisième bloc sur les partenaires------------------------------ */

.partenaires {
    height: auto;
    background-color: #d92950;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}
.partenaire_text {
    margin-bottom: 110px;
    margin-top: 120px;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: #FFF;
    font-weight: 700;
}
.logo_partenaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}
.logo_partenaires img {
    width: 100px;
}
.logo_partenaires div {
    margin: 0 10px;
}

/* Fin du troisième bloc */

/* -------------------------Début quatrième bloc------------------------------ */
.accompprojet {
    background-color: #f1f0f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    overflow-x: hidden;
}
.accomptext {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: #180027;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 60px;
}
.serviceprojet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    text-align: center;
    padding: 0 20px;
    
}
.realiseprojet {
    background-color: #FFF;
    margin: 0 35px;
    padding: 50px 30px;
    border: 1px solid white;
    text-align: center;
    height: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 40%;
    border-top: 10px solid #ffe64d;
}
.integreequipe {
    background-color: rgba(255, 255, 255, 1);
    margin: 0 35px;
    border: 1px solid white;
    text-align: center;
    height: auto;
    padding: 50px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 40%;
    border-top: 10px solid #d92950;
    
}
.textrouge {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: #d92950;
    font-weight: bold;
}
.engager {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #180027;
    line-height: 1.5;
    margin: 25px 0px;
    margin-bottom: 60px;
}
.demarre a {
    text-decoration: none;
    background-color: #d92950;
    padding: 20px;
    border-bottom: 40px;
    color: #FFF;
    border-radius: 15px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
}
.demarre a:hover {
    background-color: #FFF;
    color: #d92950;
    border: 3px solid rgb(255, 4, 107);
}

/* ------------------------------------ Début du cinquième bloc parlant des projets 
qui ont été dévelopés par la KDA----------------------------------------------------------- */

.projetdev {
    background-color: #d92950;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.projetdevtext {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    margin: 100px 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.projetdevs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin: 0 50px; */
    margin-bottom: 100px;
    /* border: 1px solid black; */
}
.projetdevv {
    width: 330px;
} 
.imageproj img {
    margin: 0 0px;
    border-radius: 10px;
    width: 330px;
    /* border: 1px solid black; */
}
.clientproj {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    /* margin-left: 40px; */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .projetfrance1, .projetrdc2 {
    border: 1px solid black;
} */
.clientproj a {
    margin-left: 0px;
    color: white;
    margin-top: 20px;
}
.svgpays {
    background-color: #FFF;
    color: #d92950;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-right: 40px; */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 16px;
    padding: 0px 5px 5px 0px;
    /* border: 1px solid black; */
}
.svgpays img {
    margin-right: 15px;
    width: 20px;
    
    
}
.svgpays p {
    margin-top: 3px;
}

/* ---------------------Début du sixième bloc sur l'expertise de la KDA-------------------- */

.expertisekda {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
}
.textexpertise {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #424345;
    font-weight: 700;
    margin: 100px 0px 50px 0px;
    text-align: center;
    /* text-align: center; */
}
.logoexpertise {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 130px;
    width: 100%;
}
.hardskillsexp {
    display: flex;
    flex-direction: column;
    width: 52%;
    margin-left: 3%;
}
.titreskill {
    background-color: #d92950;
}
.titreskill1 {
    background-color: #331f40;
    padding: 10px 0px;
}

.titreskill p {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.softskillexp {
    margin-right: 3%;
    width: 37%;
}
.titreskill1 p {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.premierlog {
    background-color: #f1f0f3;
    height: 62.2vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#deuxiemelog {
    background-color: #dfdee1;
    padding: 50px;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 50px;
    
}
#deuxiemelog li {
    font-family: "ubuntu mono", sans-serif;
    font-weight: 400;
    line-height: 1.55;
    font-size: 20px;
    color: #424345;
    margin-top: 10px;
}
.logohardskill {
    background-color: #f1f0f3;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}
.lignelogo {
    display: flex;
    flex-direction: row;
}
.lignelogo img {
    width: 60px;
    margin: 60px;
}
.logohardskill:nth-child(2) img {
    margin: 40px 40px;
}
.langage {
    color: white;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    background-color: #ef4c58;
    padding: 8px 0px;
}
.langage p {
    margin-right: 5px;
}
.langage img {
    margin-right: 2px;
}
.langage div {
    color: white;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#logoreactafrica {
    display: flex;
    justify-content: flex-start;
    color: white;
}
/* ---------------------------------------Début du 7è bloc 
si la personne est prête---------------------------------------------------- */

.clienpret {
    background-color: #af3953;
    width: 100%;
    padding: 100px 0px;
}
.clienprettext h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    margin: 0 0 50px;
    color: #ffffff;
    text-align: center;
    line-height: 1.2;
}
.imageclienpret{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pretappel {
    margin : 0px 0px 48px;
    padding: 0px 15px;
}
.textpretappel1 {
    padding: 0px 15px;
    font-size: 20.8px;
    font-family: "ubuntu mono", monospace;
    color: white;
}
.textpretappel {
    /* margin: 0px 0px 48px; */
    margin-right: 50px;
    padding: 0px 15px;
    font-size: 20.8px;
    font-family: "ubuntu mono", monospace;
    color: white;
}
.imagepretappel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
.imagepretappel img {
    width: 40px;
    /* height: 40; */
}
.imagepretappel1 {
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    height: 48px;
}
.imagepretappel2 {
    width: 20px;
    margin-top: 20px;
    
    /* height: 50; */
}
#clientplanifie1 a {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 20px;
    background-color: #d92950;
    padding: 20px 25px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #af3953;
    /* justify-content: center; */
}
#clientplanifie1 p{
    text-align: center;
    margin-top: 100px;
}
#clientplanifie1 a:hover {
    border: 2px solid white;
    background-color: #af3953;
}

/* -------------------------Début du bloc parlons de l'emploi que crée KInshasa digital----------------------------- */
.creonsemploi {
    background-color: #f1f0f3;
    width: 100%;
    height: auto;
    padding: 100px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.creonsemploi1 {
    padding: 0px 15px;
    border: 1px solid black;
    width: 80%;
}
.creonsemploi1 img {
    width: 100%;
}
.creonsemploicar h3, .creonsemploi1 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #424345;
    margin-bottom: 8px;
}
.creonsemploi1 h1 {
    font-size: 40px;
    margin-bottom: 48px;
}
#creonsemptextdif{
    color: #d92950;
}
.creonsemploi2 {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.creonsemploi21 {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}
.creonsemploi21 img {
    width: 50px;
}
.creonsemploicar {
    background-color: #ffffff ;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 40px;
    margin-bottom: 24px;
    width: 40%;
    border: 1px solid black;
}

.creonsemploicar p, .creonsemploi1 p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
    color: #424345;
    line-height: 1.5;
}
/* -------------------------Nouveau bloc sur Kinshasa digital dans les médias--------------------- */
.kindigmed {
    background-color: #111111;
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
}
.kindigmedtext {
    padding: 0px 15px;
}
.kindigmedtext h1 {
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.kindigmedimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.kindigmedimg p {
    width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

/* -----------------------Nouveau bloc sur les soutiens et partenaires de la KDA----------------- */
.soutienskda {
    background-color: #ffffff;
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.soutienskdatext h1 {
    color: #424345;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.soutienskdaimg {
    display: flex;
    flex-direction: row;
    
    /* margin: 0px -15px; */
}
.soutienskdaimg img {
    width: 280px;
    border-radius: 10px;
}
.soutienskdaimg div p {
    /* word-break: break-word; */
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 16px 0px;
    line-height: 1.5;
    color: #424345;
}
.soutienskdaimg div {
    border: 1px solid black;
    width: 280px;
    padding: 0px 10px;
}
.soutienskdatweet {
    display: flex;
    flex-direction: row;
}
.soutienskdatweet div {
    width: 290px;
    padding: 5px;
}

/* FOOOOOOOOOOOOOOOter */
footer {
    padding-top: 160px;
    padding-bottom: 96px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    background-color: #2d2d2d;
    width: 100%;
}
footer p {
    font-family: "Roboto",sans-serif;
    font-size: 22.4px;
    line-height: 1.5;
    color: #FFFFFFDE;
}
footer address {
    padding: 0px 15px;
}
footer address div {
    margin-bottom: 32px;
    font-style: normal;
}
.mailettel a {
    color: #d92950;
    text-decoration: none;
}
.fab {
    color: #d92950;
    font-size: 30px;
    margin-right: 20px;
}
.adress-droite {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}
.adress-droite p {
    margin-bottom: 20px;
}
#adres-mail {
    padding: 15px 25px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    width: 420px;
}
#adres-mail:focus {
    outline-color: rgba(111, 66, 193, 1);
    outline-style: groove;
}
#adres-inscr {
    padding: 17px 27px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #d92950;
    box-sizing: border-box;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#adres-inscr:hover {
    background-color: #2d2d2d;
    color: rgba(111, 66, 193, 0.5);
}
#mentionleg p{
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
}
#mentionleg {
    margin-top: 200px;
    width: 135px;
}
#mentionleg p:hover, .mailettel a:hover, .fab:hover {
    border-bottom: 2px solid #d92950;
}

/* -----------------------------------page emploi ----------------------------*/

.recrute-emploi {
    margin-top: 100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

}